@charset "utf-8";

// Import Quicksand Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Quicksand", sans-serif;
$primary: #007DFE;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "./node_modules/bulma/bulma.sass";
