<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description"
	content="Jacob Brasil is a self-taught Software & Full Stack Development and loves to expand his knowledge on anything & everything in the tech industry.. ">
<title><%= (typeof title != "undefined" ? title + ' | ' : '') %> Jacob Brasil</title>
<base href="/">

<!-- Bulma CSS -->
<link rel="stylesheet" type="text/css" href="css/bulma.css">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/brands.css">

<!-- FontAwesome Icons -->
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<!-- Navbar -->
<script src="js/nav.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78357354-6"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-78357354-6');
</script>