<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<h1 class="title">Jacob Brasil</h1>
			</a>

			<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-start"></div>
			<div class="navbar-end">
				<a class="navbar-item" href="/projects">
					💻 Projects
				</a>
				<a class="navbar-item" href="/resume">
					📃 Resume
				</a>
				<div class="navbar-item is-hidden-touch">
					<a class="button is-primary is-outlined is-rounded" href="/contact">
						👋 Say Hi
					</a>
				</div>
				<a class="navbar-item is-hidden-desktop" href="/contact">
					👋 Contact Me
				</a>
			</div>
		</div>
	</div>
</nav>