<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
	<!-- Custom JS -->
	<script src="js/avatar.js"></script>
</head>

<body>

	<!-- Navbar -->
	<% include partials/navbar %> 

	<!-- Hello Hero Section -->
	<section class="hero is-white has-text-centered" id="Hello">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column">
						<img class="avatar" id="avatar" src="images/avatar-smiling.svg">

						<h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Software &amp;
							Full
							Stack Developer</h1>
						<h2 class="subtitle is-size-4-desktop">I 💙 to design &amp; code applications, websites and
							everything inbetween!</h2>
						<h3 class="subtitle is-size-4-desktop">
							<div class="columns is-mobile is-centered is-variable is-0">
								<div class="column is-1-desktop is-2-touch">
									<a class="button is-facebook is-inverted"
										href=https://www.facebook.com/profile.php?id=100011183530718">
										<i class="fab fa-facebook-f"></i>
									</a>
								</div>
								<div class="column is-1-desktop is-2-touch">
									<a class="button is-instagram is-inverted"
										href="https://instagram.com/jacob_brasil">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="column is-1-desktop is-2-touch">
									<a class="button is-linkedin is-inverted"
										href="https://linkedin.com/in/jacob-brasil">
										<i class="fab fa-linkedin"></i>
									</a>
								</div>
								<div class="column is-1-desktop is-2-touch">
									<a class="button is-twitter is-inverted" href="https://twitter.com/JacobNBrasil">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
								<div class="column is-1-desktop is-2-touch">
									<a class="button is-youtube is-inverted" href="https://youtube.com/Silverebony10">
										<i class="fab fa-youtube"></i>
									</a>
								</div>
							</div>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>