<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Jacob Brasil</title>

	<!-- Bulma CSS -->
	<link rel="stylesheet" href="css/bulma.css">

	<!-- FontAwesome Icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/brands.css">

	<!-- Custom JS -->
	<script src="js/nav.js"></script>
	<script src="js/avatar.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78357354-6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-78357354-6');
	</script>
</head>

<body>

	<!-- Navbar -->
	<navbar-top></navbar-top>

	<!-- Hello Hero Section -->
	<section class="hero is-white has-text-centered" id="Hello">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-three-quarters">
						<div class="iframe-container is-hidden-mobile">
							<iframe
								src="https://docs.google.com/document/d/e/2PACX-1vQCLcJzP1RO3QIuWLyEkJhaTh0Wl_G3OizzAJcAI9GjO5U6PKkeW_d_12MhxpNTnJ8DF9SQPHjogNzG/pub?embedded=true"></iframe>
						</div>
					</div>
					<div class="column has-text-right-desktop has-text-left-mobile">
						<h4 class="subtitle">Download Options</h4>
						<div class="columns is-inline-block-desktop is-flex-mobile">
							<div class="column">
								<a class="button is-primary has-text-white"
									href="https://docs.google.com/document/d/1X_CP9Zmda15hP-e6qjhiaCeNaXBY_qXZg-zn0xSDWiY/export?format=pdf">Download
									as PDF</a>
							</div>
							<div class="column">
								<a class="button is-danger has-text-white"
									href="https://docs.google.com/document/d/1X_CP9Zmda15hP-e6qjhiaCeNaXBY_qXZg-zn0xSDWiY/export?format=doc">Download
									as DOCX</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>