/* Start Facebook */
.button.is-facebook.is-inverted {
	background-color: #fff;
	color: #4267B2;
	border-color: transparent;
}

.button.is-facebook.is-inverted:hover, .button.is-facebook.is-inverted.is-hovered {
	background-color: #f2f2f2;
}
/* End Facebook */

/* Start Instagram */
.button.is-instagram.is-inverted {
	background-color: #fff;
	color: #833AB4;
	border-color: transparent;
}

.button.is-instagram.is-inverted:hover, .button.is-instagram.is-inverted.is-hovered {
	background-color: #f2f2f2;
}
/* End Instagram */

/* Start Linkedin */
.button.is-linkedin.is-inverted {
	background-color: #fff;
	color: #2867B2;
	border-color: transparent;
}

.button.is-linkedin.is-inverted:hover, .button.is-linkedin.is-inverted.is-hovered {
	background-color: #f2f2f2;
}
/* End Linkedin */

/* Start Twitter */
.button.is-twitter.is-inverted {
	background-color: #fff;
	color: #1DA1F2;
	border-color: transparent;
}

.button.is-twitter.is-inverted:hover, .button.is-twitter.is-inverted.is-hovered {
	background-color: #f2f2f2;
}
/* End Twitter */

/* Start YouTube */
.button.is-youtube.is-inverted {
	background-color: #fff;
	color: #FF0000;
	border-color: transparent;
}

.button.is-youtube.is-inverted:hover, .button.is-youtube.is-inverted.is-hovered {
	background-color: #f2f2f2;
}
/* End YouTube */

/* Start Github */
.button.is-github.is-inverted {
	background-color: #fff;
	color: #24292e;
	border-color: transparent;
}

.button.is-github.is-inverted:hover, .button.is-github.is-inverted.is-hovered {
	background-color: #f2f2f2;
}
/* End YouTube */