/* Sets Mobile Nav to float on top */

.navbar-menu.is-active {
	position: absolute;
	width: 100%;
}

/* Custom Button On Hover or Focused Text Color */

.button.is-primary.is-outlined:hover {
	color: #fff;
}

.button.is-primary.is-outlined:focus {
	color: #fff;
}

.navbar-item.is-active {
	border-bottom: 1px solid #65C9FF;
}

.folder {
	width: 96px;
	height: auto;
}

.year {
	font-weight: bold;
	color: #fff;
	margin-top: -3em;
}

.iframe-container {
	overflow: hidden;
	padding-top: 25%;
	position: relative;
	height: 100em;
}

.iframe-container iframe {
	border: 0;
	height: 150%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.has-image-centered {
	margin-left: auto;
	margin-right: auto;
}

/* Mobile */

@media screen and (max-width: 768px) {
	.folder {
		max-height: 96px;
		max-width: 96px;
	}
}

/* Tablet */

@media screen and (min-width: 769px), print {
	.folder {
		max-height: 96px;
		max-width: 96px;
	}
}

/* Touch */

@media screen and (max-width: 1023px) {
	.folder {
		max-height: 96px;
		max-width: 96px;
	}
}

/* Desktop */

@media screen and (min-width: 1024px) {
	.folder {
		max-height: none;
		max-width: none;
	}
}