/* Sets Mobile Nav to float on top */
.navbar-menu.is-active {
	position: absolute;
	width: 100%;
}

/* Custom Button On Hover or Focused Text Color */
.button.is-primary.is-outlined:hover {
	color: #fff;
}

.button.is-primary.is-outlined:focus {
	color: #fff;
}

.navbar-item.is-active {
	border-bottom: 1px solid #65C9FF;
}

.folder {
	width: 96px;
	height: auto;
}