body {
  display: flexbox;
  background-color: #5d5df9;
  background-repeat: no-repeat;
  background-position: top right;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 85.3125rem;
}

@media (max-width: 1079px) {
  body {
    padding-bottom: 5%;
  }
}
